.button {
  input {
    width: 165px;
    cursor: pointer;
    height: 56px;
    color: #000000;
    font-weight: 500;
    border-radius: 5px;
    background: $main-green;
    border: 1px solid $main-green;
    box-sizing: border-box;
    transition: all 0.3s;
    &:hover {
      background: none;
      color: $main-green;
    }
  }
}

@media (max-width: 767px) {
  .button {
    input {
      width: 100%;
    }
  }
}
